<h2 class="h2">Add a new movie</h2>

<form (submit)="addMovie()">
  <div class="movies-form">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput name="title" [(ngModel)]="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input matInput name="image" [(ngModel)]="image">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input type="number" matInput name="year" [(ngModel)]="year">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <input matInput name="genre" [(ngModel)]="genre">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Synopsis</mat-label>
        <textarea matInput name="synopsis" [(ngModel)]="synopsis"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn-group mr-2">Add</button>
  </div>
</form>
