:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

.movies-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.movies-form mat-form-field {
  width: 500px;
}

.movies-form button {
 width: 50px;
 background-color: rgb(65, 4, 65);
}
